body {
    background-color: pink;
}

#pierwszy {
    background-color: green;
    width: 600px;
    height: 100px;
    margin: bottom 10px;
    position: relative;
    top: 40px;
    left: 30px;
}

#drugi {
    background-color: red;
    margin: top 10px;
    width: 600px;
    height: 100px;

}

#trzeci {
    background-color: lime;
    width: 700px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    right: 20px;
}


#pierwszy-prim {
    background-color: yellow;
    margin: 5px;
}

#pierwszy-absolutny {
    background-color: violet;
    margin: 10px;
    position: fixed;
    bottom: 5px;
    left: 5px;
}