html {
    font-size: 20px;
}

body {
    background-color: azure;
}

#container {
    font-size: 30px;
}

#container > div {
    background-color: lightcoral;
    margin-bottom: 10px;
}

#pixel {
    width: 400px;
}

#em {
    width: 15em;
}

#rem {
    font-size: 3rem;
}

#procenty {
    width: 40%;
}

#vw {
    width: 40vw;
}

#vh {
    width: 40vh;
}

#vmin {
    width: 40vmin;
}

#vmax {
    width: 40vmax;
}